<!DOCTYPE html>
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/main.css")

    body
        header.main-header
            nav.main-header__nav

                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") LINK 1
                        
                    li.main-header__item
                        a(href="/admin/add-product") LINK 2

        main
            each i in prods 
                h1 #{i}
            